<div *ngIf="hero">
  <h2>{{hero.name}}'s transactions</h2>
  <div><span>{{hero.name}}'s id: </span>{{hero.id}}</div>
<div>

<div *ngIf="hero">
  <h2>Account Balance: {{hero.balance}}</h2>
</div>
<div>
  <label>RECIEVER ID:
    <input #RecieverId style="left:0px"/>
  </label>
</div>
<div>
  <label>AMOUNT:
    <input #Amount style="margin-left: 35px"/>
  </label>
</div>
<div>
  <label>NOTE:
    <input #Note style="margin-left: 58px" />
  </label>
</div>
<div>
  <label>TYPE:
    <input #Type style="margin-left: 61px" />
  </label>
</div>

<div *ngIf = "hero">
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)=" add(Note.value,  Amount.value, hero.id, RecieverId.value, Type.value ); ">
    Create
  </button>

</div>

<h2> TRANSACTIONS </h2>
  <ul class="transactions">
    <ng-container *ngFor="let transaction of transactions">
      <li *ngIf = " transaction.recieverId === hero.id || transaction.senderId === hero.id ">

        <a *ngIf = "transaction.senderId === hero.id" routerLink = "/transactions-detail/{{transaction.id}}">
          <span class="badge" >Reciever id: {{transaction.recieverId}}  </span> Note: {{transaction.note}}
        </a> 
        <b *ngIf = "transaction.senderId === hero.id" class = "amount_negative" style="float: right">Amount: {{transaction.amount}}€</b>

        <a *ngIf = "transaction.senderId != hero.id" routerLink = "/transactions-detail/{{transaction.id}}">
          <span class="badge">Sender id: {{transaction.senderId}}  </span> Note: {{transaction.note}}
        </a>
        <b *ngIf = "transaction.senderId !== hero.id" class = "amount_positive" style="float: right">Amount: {{transaction.amount}}€</b>

      </li>  
      
    </ng-container>
  </ul>